.signUpCollegeDetails {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.signUpCollegeDetails > h2 {
  font-weight: 700;
  /* margin-top: 20%; */
  margin-bottom: 5%;
}

.signUpCollegeDetails > form > img {
  border-radius: 50%;
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.signUpCollegeDetails > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUpCollegeDetails > button {
  margin-top: 5%;
  margin-bottom: 10%;
  width: 25%;
}
