.person__card > img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 10px 20px;
}
.person__card {
  display: flex;
}
.card__message {
  margin-left: 20px;
  align-self: center;
}
.person__card:hover {
  cursor: pointer;
}
