.followers__list {
  width: 90%;
  display: flex;
  flex-direction: row;
}
.followers__list .person__card {
  width: 250px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  box-shadow: 5px 5px 8px;
  margin: 2rem;
}
.followers__list .person__card img {
  width: 3rem;
  margin: 1rem;
  border-radius: 50%;
}
.spacer {
  flex: 1;
}
.person__card__options {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
.person__card__options .MuiSvgIcon-root {
  margin: 0.2rem 0;
}
.remove__person:hover {
  color: red;
}
