.profileHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 20px;
}

.profileHeader > img {
  width: 18%;
  border-radius: 50%;
  z-index: 2;
}
.header__info {
  /* border: 1px solid black; */
  border-radius: 20px;
  width: 100%;
  height: 50%;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 10px;
  padding-bottom: 10px;
  position: relative;
  left: -2.6%;
  right: 0;
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 5px 5px 8px grey;
}
.header__info > .spacer {
  flex: 1;
}
.header__info > .details > .username {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}
.header__info > .details > .bio,
.header__info > .details > .college {
  font-size: 1rem;
  font-weight: 500;
}
.header__info > .details > .bio {
  color: #6f6e6e;
}

.connect__buttons {
  display: flex;
  justify-content: center;
}
.connect__buttons > .MuiSvgIcon-root {
  margin: 5px 5px;
}

@media (max-width: 800px) {
  .profileHeader {
    flex-direction: column;
    margin: 10px 20px;
  }
  .profileHeader > img {
    width: 50%;
  }
  .header__info {
    padding-left: 10px;
  }
  .header__info > .icons {
    display: flex;
    flex-direction: column;
  }
}
