.auth__screen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: -webkit-fill-available;
  background-color: white;
}

.auth__right {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.login__left__text {
  position: absolute;
  top: 40%;
  /* left: 25%; */
  width: inherit;
  text-align: center;
  color: white;
}
.login__left__text > h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.login__left__text > h3 {
  font-size: larger;
  font-weight: 500;
}
/* @media (max-width: 1000px) {
  .auth__screen:nth-child(1) {
    display: none;
  }
} */
.auth__right__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.auth__right__footer > p {
  margin: 0;
}
.auth__right__footer > img {
  height: 15px;
  margin-left: 5px;
}
.auth__right__footer > img:hover {
  cursor: pointer;
}
.overlay {
  width: 100%;
}