.signUpCollegeDetails {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.signUpCollegeDetails > h2 {
  font-weight: 700;
  /* margin-top: 20%; */
  margin-bottom: 5%;
}

.signUpCollegeDetails > form img {
  border-radius: 50%;
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 150px;
  width: 150px;
}

.image__upload {
  justify-content: center;
  display: flex;
}

.image__upload > .MuiSvgIcon-root {
  position: relative;
  right: 7%;
  top: 75%;
  color: #28a745;
}

.signUpCollegeDetails > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUpCollegeDetails > button {
  margin-top: 5%;
  margin-bottom: 10%;
  width: 25%;
}
