body,
#root,
html {
  height: 100%;
  overflow: hidden;
  background-color: #e2e3e6;
}

.app {
  height: 91%;
}
.root {
  display: flex;
  flex-direction: column;
}
.app {
  flex: 1;
}
.app__auth {
  height: -webkit-fill-available;
}
